<!-- SUB BANNER -->
        <section class="section-sub-banner awe-parallax bg-9">
            <div class="awe-overlay"></div>
            <div class="sub-banner">
                <div class="container">
                    <div class="text text-center">
                        <h2><%= __('about_intro') %></h2>
                        <p><%= __('about_intro2') %></p>
                    </div>
                </div>

            </div>

        </section>
        <!-- END / SUB BANNER -->

        <!-- ABOUT -->
        <section class="section-about">
            <div class="container">

                <div class="about">

                    <!-- ITEM -->
                    <div class="about-item">

                        <div class="img owl-single">
                            <img src="/images/about/img-1.jpg" alt="">
                        </div>

                        <div class="text">
                            <h2 class="heading"><%= __('about_intro') %></h2>
                            <div class="desc">
                                <p><%= __('about_1') %></p><br>
                                <p><%= __('about_2') %></p>
                            </div>
                        </div>

                    </div>
                    <!-- END / ITEM -->

                </div>

            </div>
        </section>
        <!-- END / ABOUT -->
