<!-- SUB BANNER -->
<section class="section-sub-banner awe-parallax bg-21">
    <div class="awe-overlay"></div>
    <div class="sub-banner">
        <div class="container">
            <div class="text text-center">
              &nbsp;
            </div>
        </div>
    </div>
</section>
<!-- END / SUB BANNER -->

<!-- ATTRACTIONS -->
<section class="section-attractions bg-white">


    <div class="container">

        <div class="attraction">

            <div class="row">

                <div class="col-md-4">

                    <div class="attraction_sidebar">

                        <h2 class="attraction_heading"><%= __('attractions') %> <span class="attraction-icon-drop fa fa-angle-down"></span></h2>

                        <div class="attraction_sidebar-content">
                            <ul class="attraction_location" id="attraction_location">
                                <li><i class="fa fa-map-marker"></i><a target="_blank" href="http://www.montenegro360.me/coast/budva/21-library-at-the-citadel.html" data-latlng="36.576861,-98.459881" data-title="Carytown Street" data-address="3325 West Cary Street">Citadel</a></li>
                                <li><i class="fa fa-map-marker"></i><a target="_blank" href="http://www.montenegro360.me/coast/budva/06-street-in-old-town.html" data-latlng="36.576922,-98.463700" data-title="Carytown Street" data-address="3325 West Cary Street">Altstadt (Old Town) Budva</a></li>
                                <li><i class="fa fa-map-marker"></i><a target="_blank" href="http://www.montenegro360.me/coast/budva/01-old-town-and-the-road-to-the-beach-mogren.html" data-latlng="36.577172,-98.457327" data-title="Carytown Street" data-address="3325 West Cary Street">Ballet Dancer Statue</a></li>
                                <li><i class="fa fa-map-marker"></i><a target="_blank" href="https://www.youtube.com/embed/W12hUZPEIpk" data-latlng="36.573949,-98.462402" data-title="Carytown Street" data-address="3325 West Cary Street">Aqua Park</a></li>
                                <li><i class="fa fa-map-marker"></i><a target="_blank" href="https://www.google.rs/maps/place/Mogren+beach,+%D0%A6%D1%80%D0%BD%D0%B0+%D0%93%D0%BE%D1%80%D0%B0/data=!4m2!3m1!1s0x134dd49556b0caf7:0x113574be44fed3f4?sa=X&ved=0ahUKEwieouqVq5XOAhXMNxQKHTbZANEQ8gEIKjAF" data-latlng="36.5748755,-98.4596874" data-title="Carytown Street" data-address="3325 West Cary Street">Mogren Beach</a></li>
                                <li><i class="fa fa-map-marker"></i><a target="_blank" href="https://www.youtube.com/watch?v=qZk0LFVKkHw" data-latlng="36.5748755,-98.4596874" data-title="Carytown Street" data-address="3325 West Cary Street">Jaz Beach</a></li>
                                <li><i class="fa fa-map-marker"></i><a target="_blank" href="https://www.youtube.com/watch?v=P51qbQtxHSg" data-latlng="36.5748755,-98.4596874" data-title="Carytown Street" data-address="3325 West Cary Street">Ploce Beach</a></li>
                                <li><i class="fa fa-map-marker"></i><a target="_blank" href="https://en.wikipedia.org/wiki/Podmaine_Monastery" data-latlng="36.5748755,-98.4596874" data-title="Carytown Street" data-address="3325 West Cary Street">Podmaine Monastery</a></li>
                                <li><i class="fa fa-map-marker"></i><a target="_blank" href="https://www.youtube.com/watch?v=UQkUcm5P3kE" data-latlng="36.573949,-98.462402" data-title="Carytown Street" data-address="3325 West Cary Street">Dolce Vita Beach</a></li>
                                <li><i class="fa fa-map-marker"></i><a target="_blank" href="http://i.imgur.com/yOvc7vG.jpg" data-latlng="36.5748755,-98.4596874" data-title="Carytown Street" data-address="3325 West Cary Street">Montenegro Map</a></li>
                                <li><i class="fa fa-map-marker"></i><a target="_blank" href="https://en.wikipedia.org/wiki/Fort_Kosma%C4%8D" data-latlng="36.5748755,-98.4596874" data-title="Carytown Street" data-address="3325 West Cary Street">Kosmac Fortress</a></li>
                            </ul>

                        </div>

                    </div>

                </div>

                <div class="col-md-8">



                    <div class="attraction_content" id="attraction_content">
                        <div class="wp_caption aligncenter">
                            <img src="/images/attractions/img-1.jpg" alt="">
                        </div>
                        <br>
                        <br>

                        <p><%= __('budva_intro') %></p>
                        <br><br>

                        <div class="wp_caption alignleft">
                            <iframe width="450" height="315" src="https://www.youtube.com/embed/QTl4gQCIRP8" frameborder="0" allowfullscreen></iframe>
                          <!--  <img src="images/attractions/img-2.jpg" alt=""> -->
                        </div>
                        <p>
                          <%= __('budva_intro2') %>
                        </p>

                    </div>

                </div>
            </div>

        </div>

    </div>

</section>
<!-- END / ATTRACTIONS -->
