<!-- SUB BANNER -->
<section class="section-sub-banner awe-parallax bg-15">
    <div class="awe-overlay"></div>
    <div class="sub-banner">
        <div class="container">
            <div class="text text-center">
                <h2><%= __('guest_book') %></h2>
                <p><%= __('guest_book_intro') %></p>
            </div>
        </div>
    </div>
</section>
<!-- END / SUB BANNER -->

<!-- GUEST BOOK -->
<section class="section-guest-book">
    <div class="container">
        <div class="guest-book">

            <!-- GUEST BOOK HEAD -->
            <div class="guest-book_head guest-book_head-2 text-center">
                <div class="text">
                    <a href="/guestwrite" class="awe-btn awe-btn-13">CLICK HERE TO WRITE IN GUESTBOOK</a>
                </div>
            </div>
            <!-- END / GUEST BOOK HEAD -->

            <!-- GUEST BOOK MASONRY -->
            <div class="guest-book_content">

                <div class="row">
                    <div class="guest-book_mansory">
                        <!-- ITEM -->
                        <div class="item-masonry col-xs-6 col-md-4">
                            <div class="guest-book_item guest-book_item-2">
                                <span class="icon hillter-icon-quote-left"></span>
                                <div class="avatar">
                                    <img src="/images/avatar/img-5.jpg" alt="">
                                </div>
                                <h2>BEST PRICE</h2>
                                <p>This is the only place to stay in Budva! I have stayed in the cheaper hotels and they were fine, but this is just the icing on the cake! After spending the day bike riding and hiking to come back and enjoy a glass of wine while looking out your ocean view window and then to top it all off...</p>
                                <span><b>Boris</b> - Saint Petersburg, Russia</span>
                            </div>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="item-masonry col-xs-6 col-md-4">
                            <div class="guest-book_item guest-book_item-2">
                                <span class="icon hillter-icon-quote-left"></span>
                                <div class="avatar">
                                    <img src="/images/avatar/img-3.jpg" alt="">
                                </div>
                                <h2>GOOD SERVICE</h2>
                                <p>I love the gareden, and barbecue that you have, I will definitely come back to your place ! Budva is nice city, and all the  people are on a good mood !</p>
                                <span><b>Anke</b> - Mühldorf, Germany</span>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                    </div>
                </div>

            </div>
            <!-- END / GUEST BOOK MASONRY -->
        </div>
    </div>
</section>
<!-- END / GUEST BOOK -->
