
        <!-- FOOTER -->
        <footer id="footer">


            <!-- FOOTER CENTER -->
            <div class="footer_center">
                <div class="container">
                    <div class="row">

                        <div class="col-xs-12 col-lg-5">
                            <div class="widget widget_logo">
                                <div class="widget-logo">
                                    <div class="img">
                                        <a href="<% if (page.lang == "en"){%>/<% }else{%>/<%= page.lang %><% } %>"><img src="/images/logo-footer.png" alt=""></a>
                                    </div>
                                    <div class="text">
                                        <p><i class="hillter-icon-location"></i> Zrtava Fasizma 136, 85310 Budva, Montenegro</p>
                                        <p><i class="hillter-icon-phone"></i> +49 176 6789 5189</p>
                                        <p><i class="fa fa-envelope-o"></i> <a href="mailto:office@villa-marisol.me">office@villa-marisol.me</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">&nbsp;</h4>
                                <ul>
                                    <% if (page.lang == "en"){%>
                                    <li><a href="/"><%= __('home') %></a></li>
                                    <li><a href="/about"><%= __('about') %></a></li>
                                    <li><a href="/gallery"><%= __('gallery') %></a></li>
                                    <% }else{%>
                                    <li><a href="/<%= page.lang %>"><%= __('home') %></a></li>
                                    <li><a href="/<%= page.lang %>/about"><%= __('about') %></a></li>
                                    <li><a href="/<%= page.lang %>/gallery"><%= __('gallery') %></a></li>
                                    <% } %>

                                </ul>
                            </div>
                        </div>

                        <div class="col-xs-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">&nbsp;</h4>
                                <ul>
                                  <% if (page.lang == "en"){%>
                                  <li><a href="/budva"><%= __('budva') %></a></li>
                                  <li><a href="/guestbook"><%= __('guestbook') %></a></li>
                                  <li><a href="/contact"><%= __('contact') %></a></li>
                                  <% }else{%>
                                  <li><a href="/<%= page.lang %>/budva"><%= __('budva') %></a></li>
                                  <li><a href="/<%= page.lang %>/guestbook"><%= __('guestbook') %></a></li>
                                  <li><a href="/<%= page.lang %>/contact"><%= __('contact') %></a></li>
                                  <% } %>

                                </ul>
                            </div>
                        </div>

                        <div class="col-xs-4 col-lg-3">
                            <div class="widget widget_tripadvisor">
                                <h4 class="widget-title">Tripadvisor</h4>
                                <div class="tripadvisor">
                                    <p><%= __('hotel_reviews') %></p>
                                    <img src="/images/tripadvisor.png" alt="">
                                </div>
                            </div>
                            <a href="http://www.holidaycheck.de/h1443400"><img src="/images/Logo_RoHC_2016.png"/></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END / FOOTER CENTER -->

            <!-- FOOTER BOTTOM -->
            <div class="footer_bottom">
                <div class="container">
                    <p>&copy; 2016 Villa Marisol Deluxe - All rights reserved.</p>
                </div>
            </div>
            <!-- END / FOOTER BOTTOM -->

        </footer>
        <!-- END / FOOTER -->

    </div>
    <!-- END / PAGE WRAP -->


    <!-- LOAD JQUERY -->
    <%- js('js/lib/jquery-1.11.0.min') %>
    <%- js('js/lib/jquery-ui.min') %>
    <%- js('js/lib/bootstrap.min') %>
    <%- js('js/lib/bootstrap-select') %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANtIhZo_kGcNqm7TRffaZbRDAhOo6w8kg"></script>
    <%- js('js/lib/isotope.pkgd.min') %>
    <%- js('js/lib/jquery.themepunch.revolution.min') %>
    <%- js('js/lib/jquery.themepunch.tools.min') %>
    <%- js('js/lib/owl.carousel') %>
    <%- js('js/lib/jquery.appear.min') %>
    <%- js('js/lib/jquery.countTo') %>
    <%- js('js/lib/jquery.countdown.min') %>
    <%- js('js/lib/jquery.parallax-1.1.3') %>
    <%- js('js/lib/jquery.magnific-popup.min') %>
    <%- js('js/lib/SmoothScroll') %>
    <!-- validate -->
    <%- js('js/lib/jquery.form.min') %>
    <%- js('js/lib/jquery.validate.min') %>

    <!-- Custom jQuery -->
    <%- js('js/scripts') %>
    <%- js('js/UpdateWeather') %>
</body>
</html>
