
    <!-- PRELOADER -->
    <div id="preloader">
        <span class="preloader-dot"></span>
    </div>
    <!-- END / PRELOADER -->

    <!-- PAGE WRAP -->
    <div id="page-wrap">

<!-- HEADER -->
<header id="header">

    <!-- HEADER TOP -->
    <div class="header_top">
        <div class="container">
            <div class="header_left float-left">
                <span id="weatherp">Updating weather ...</span>
                <span><i class="hillter-icon-location"></i> Zrtava Fasizma 136, 85310 Budva, Montenegro</span>
                <span><i class="hillter-icon-phone"></i> +49 176 6789 5189</span>
            </div>
            <div class="header_right float-right">

                <div class="dropdown language">
                    <span class="uppercase"><%= page.lang %></span>

                    <ul>
                      <% get_langs().forEach(lang => { %>
                        <li class="<%= lang === page.lang ? 'active' : ''%>"><a class="uppercase" href="<%= switch_lang(lang) %>"><%= lang %></a></li>
                      <% }) %>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <!-- END / HEADER TOP -->

    <!-- HEADER LOGO & MENU -->
    <div class="header_content" id="header_content">

        <div class="container">
            <!-- HEADER LOGO -->
            <div class="header_logo">
                <a href="<% if (page.lang == "en"){%>/<% }else{%>/<%= page.lang %><% } %>"><img src="/images/logo-header.png" alt=""></a>
            </div>
            <!-- END / HEADER LOGO -->

            <!-- HEADER MENU -->
            <nav class="header_menu">
                <ul class="menu">
                    <!-- for current selection class="current-menu-item" -->
                    <% if (page.lang == "en"){%>
                    <li><a href="/"><%= __('home') %></a></li>
                    <li><a href="/about"><%= __('about') %></a></li>
                    <li><a href="/gallery"><%= __('gallery') %></a></li>
                    <li><a href="/budva"><%= __('budva') %></a></li>
                    <li><a href="/guestbook"><%= __('guestbook') %></a></li>
                    <li><a href="/contact"><%= __('contact') %></a></li>
                    <% }else{%>
                    <li><a href="/<%= page.lang %>"><%= __('home') %></a></li>
                    <li><a href="/<%= page.lang %>/about"><%= __('about') %></a></li>
                    <li><a href="/<%= page.lang %>/gallery"><%= __('gallery') %></a></li>
                    <li><a href="/<%= page.lang %>/budva"><%= __('budva') %></a></li>
                    <li><a href="/<%= page.lang %>/guestbook"><%= __('guestbook') %></a></li>
                    <li><a href="/<%= page.lang %>/contact"><%= __('contact') %></a></li>
                    <% } %>
                </ul>
            </nav>
            <!-- END / HEADER MENU -->

            <!-- MENU BAR -->
            <span class="menu-bars">
                <span></span>
            </span>
            <!-- END / MENU BAR -->

        </div>
    </div>
    <!-- END / HEADER LOGO & MENU -->

</header>
<!-- END / HEADER -->
